* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f8f8f8;
    color: #333;
}


header {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.song-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.song-card {
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.song-card:hover {
    transform: scale(1.03);
}

.song-card:active{
    opacity: 75;
    background-color: #777;
}



.song-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


figcaption {
    padding: 15px;
}

figcaption h2 {
    font-size: 1.3rem;
    color: black;
}

.artist {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}

footer {
    background: black;
    color: white
}